<!-- Navegación entre vistas -->
<div class="tabs">
  <div class="tab" [class.active]="vistaActual === 'verProductos'" (click)="cambiarVista('verProductos')">
    Ver Productos
  </div>
  <div class="tab" [class.active]="vistaActual === 'agregarProducto'" (click)="cambiarVista('agregarProducto')">
    Agregar Producto
  </div>
</div>

<div class="content">
  <!-- Ver productos -->
  <ng-container *ngIf="vistaActual === 'verProductos'">
    <h3>Lista de Productos</h3>

    <!-- Campo de búsqueda -->
    <div class="form-field">
      <label for="filtro">Buscar:</label>
      <input id="filtro" [(ngModel)]="filtro" (input)="filtrarProductos()" type="text" placeholder="Buscar por Código SAP, Nombre, Categoría o Estado">
    </div>

    <table class="productos-table">
      <thead>
        <tr>
          <th>CÓDIGO SAP</th>
          <th>NOMBRE</th>
          <th>CATEGORÍA</th>
          <th>PRECIO DE COMPRA</th>
          <th>ESTADO</th>
          <th>FECHA DE REGISTRO</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productosFiltrados; trackBy: trackByProductoId">
          <td>{{ producto.codigoSAP }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.categoria }}</td>
          <td>{{ producto.precioCompra | number: '1.0-0' }}</td> <!-- Mostrar sin decimales -->
          <td>
            <mat-slide-toggle
              [checked]="producto.estado === 'activo'"
              (change)="toggleProductoEstado(producto)">
            </mat-slide-toggle>
          </td>
          <td>{{ producto.fecha_registro | date: 'dd/MM/yyyy' }}</td>
          <td>
            <div class="button-container">
              <button class="btn modificar" (click)="prepararProductoModificar(producto)">Modificar</button>
              <button class="btn eliminar" (click)="eliminarProducto(producto.idProducto)">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <!-- Agregar Producto -->
  <ng-container *ngIf="vistaActual === 'agregarProducto'">
    <h3>Agregar Producto</h3>
    <form #productoForm="ngForm" (ngSubmit)="agregarProducto(productoForm)" class="registrar-form-container">
      <div class="form-field" [ngClass]="{'has-error': productoForm.submitted && !codigoSAP.valid}">
        <label for="codigoSAP">Código SAP</label>
        <input type="text" id="codigoSAP" [(ngModel)]="nuevoProducto.codigoSAP" name="codigoSAP" required #codigoSAP="ngModel">
        <div *ngIf="productoForm.submitted && !codigoSAP.valid" class="error-message">
          Código SAP es requerido.
        </div>
      </div>
      <div class="form-field" [ngClass]="{'has-error': productoForm.submitted && !nombre.valid}">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" [(ngModel)]="nuevoProducto.nombre" name="nombre" required #nombre="ngModel">
        <div *ngIf="productoForm.submitted && !nombre.valid" class="error-message">
          Nombre es requerido.
        </div>
      </div>
      <div class="form-field" [ngClass]="{'has-error': productoForm.submitted && !categoria.valid}">
        <label for="categoria">Categoría</label>
        <input type="text" id="categoria" [(ngModel)]="nuevoProducto.categoria" name="categoria" required #categoria="ngModel">
        <div *ngIf="productoForm.submitted && !categoria.valid" class="error-message">
          Categoría es requerida.
        </div>
      </div>
      <div class="form-field" [ngClass]="{'has-error': productoForm.submitted && !precioCompra.valid}">
        <label for="precioCompra">Precio de Compra</label>
        <input type="number" id="precioCompra" [(ngModel)]="nuevoProducto.precioCompra" name="precioCompra" required #precioCompra="ngModel" min="1">
        <div *ngIf="productoForm.submitted && !precioCompra.valid" class="error-message">
          Precio de Compra debe ser mayor que 0.
        </div>
      </div>
      <button type="submit" class="btn btnRegistrar">Agregar Producto</button>
    </form>
  </ng-container>

  <!-- Modificar Producto -->
  <ng-container *ngIf="vistaActual === 'modificarProducto'">
    <h3>Modificar Producto</h3>
    <form #productoModificarForm="ngForm" (ngSubmit)="modificarProducto(productoModificarForm)" class="modificar-form-container">
      <div class="form-field" [ngClass]="{'has-error': productoModificarForm.submitted && !nombre.valid}">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" [(ngModel)]="productoSeleccionado.nombre" name="nombre" required #nombre="ngModel">
        <div *ngIf="productoModificarForm.submitted && !nombre.valid" class="error-message">
          Nombre es requerido.
        </div>
      </div>
      <div class="form-field" [ngClass]="{'has-error': productoModificarForm.submitted && !categoria.valid}">
        <label for="categoria">Categoría</label>
        <input type="text" id="categoria" [(ngModel)]="productoSeleccionado.categoria" name="categoria" required #categoria="ngModel">
        <div *ngIf="productoModificarForm.submitted && !categoria.valid" class="error-message">
          Categoría es requerida.
        </div>
      </div>
      <div class="form-field" [ngClass]="{'has-error': productoModificarForm.submitted && !precioCompra.valid}">
        <label for="precioCompra">Precio de Compra</label>
        <input type="number" id="precioCompra" [(ngModel)]="productoSeleccionado.precioCompra" name="precioCompra" required #precioCompra="ngModel" min="1">
        <div *ngIf="productoModificarForm.submitted && !precioCompra.valid" class="error-message">
          Precio de Compra debe ser mayor que 0.
        </div>
      </div>
      <button type="submit" class="btn btnModificar">Modificar Producto</button>
    </form>
  </ng-container>
</div>
