<div class="container">
  <h2>Bitácora de Acciones</h2>

  <!-- Campo de búsqueda -->
  <div class="form-field">
    <label for="filtro">Buscar:</label>
    <input id="filtro" [(ngModel)]="filtro" (input)="filtrarBitacora()" type="text" placeholder="Buscar por Usuario, Acción, Tabla Afectada o Descripción">
  </div>

  <!-- Tabla de Bitácora -->
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Usuario</th>
        <th>Acción</th>
        <th>Tabla Afectada</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of paginatedLogs">
        <td>{{ log.fecha | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ log.usuario.nombre }} ({{ log.usuario.email }})</td>
        <td>{{ log.accion }}</td>
        <td>{{ log.tabla_afectada }}</td>
        <td>{{ log.descripcion }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Controles de Paginación -->
  <div class="pagination">
    <button class="pagination-btn" (click)="prevPage()" [disabled]="paginaActual === 1">Anterior</button>
    <span>Página {{paginaActual}} de {{totalPaginas}}</span>
    <button class="pagination-btn" (click)="nextPage()" [disabled]="paginaActual === totalPaginas">Siguiente</button>
  </div>
</div>
