<div class="container">
  <h2>Inventario</h2>

  <!-- Campo de búsqueda -->
  <div class="form-field">
    <label for="filtro">Buscar:</label>
    <input id="filtro" [(ngModel)]="filtro" (input)="filtrarInventario()" type="text" placeholder="Buscar por Código SAP o Producto">
  </div>

  <!-- Tabla de Inventario -->
  <table class="table">
    <thead>
      <tr>
        <th>Código SAP</th>
        <th>Producto</th>
        <th>Cantidad Disponible</th>
        <th>Precio Compra</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of inventarioFiltrado">
        <td>{{ item.producto.codigoSAP }}</td>
        <td>{{ item.producto.nombre }}</td>
        <td>{{ item.cantidadDisponible }}</td>
        <td>{{ item.producto.precioCompra }}</td>
        <td>
          <button (click)="editarInventario(item)" class="btn btn-primary">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Formulario de edición de inventario -->
  <div *ngIf="inventarioSeleccionado">
    <h3>Editar Inventario</h3>
    <form (ngSubmit)="guardarCambios()">
      <div class="form-field">
        <label for="cantidad">Cantidad Disponible:</label>
        <input id="cantidad" [(ngModel)]="inventarioSeleccionado.cantidadDisponible" name="cantidad" type="number" required>
      </div>

      <div class="form-field">
        <label for="nivelMinimo">Nivel Mínimo:</label>
        <input id="nivelMinimo" [(ngModel)]="inventarioSeleccionado.nivelMinimo" name="nivelMinimo" type="number" required>
      </div>

      <button type="submit" class="btn btn-success">Guardar</button>
    </form>
  </div>
</div>
